body{
  width: 100%;
  height: 100%;
	background-image: url(img/backgroundBlobs.svg);
   background-position: center center;      
background-repeat: no-repeat;      
background-attachment: fixed;      
background-size: cover; 
padding: auto;  
   
}

.mainpage{position: absolute;
  margin-left: 60px;
  margin-top: 60px;
width: 93.74%;
height: 104px;
max-height: calc(100% - 32px);
  background: #EDF1f4;
margin-bottom: 60px;
  border-radius: 24px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px 0px rgba(126,120,120, 0.40);  
  backdrop-filter: blur(150px)
}

.logo{
	position: absolute;
width:14.5833333333%;
min-width: 208px;
height: 1.66666666667%;
min-height: 24px;
left: 3%;
top: 44px;

}
.menu{
	position: absolute;
left: 20.96%;
top: 44px;
bottom: 87.04%;
}
.menu a{
	white-space: nowrap;
	font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: calc(10px + 8 * (100vw / 1920));
line-height: 1.5em;
/* identical to box height, or 133% */


color: #26323E;


/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 16px;
}
.ellipse{
	
flex: none;
order: 1;
flex-grow: 0;
}
.palka{
	position: absolute;
left: 50.47%;
right: 49.43%;
top: 10%;
bottom: 87.04%;


/* mainColor */

background: #19B7BB;
}
.socials{
  margin-top: -10px;
}
.inst{
    z-index: -2;
position: absolute;
width: 40px;
height: 40px;
left: 80.9791666667%;

border-radius: 50%;
/* white */

background: #FFFFFF;
/* btnShadow */

box-shadow:0px 4px 8px 0px rgba(116, 115, 115, 0.15);

}
.inst svg{
	position: absolute;
left: 25%;
right: 0%;
top: 25%;
bottom: 0%;
}

.inst:hover,
.inst svg:hover{
  fill: #fff;
  stroke: #fff;
    background-color: #19b7bb;
}

.telega{
  z-index: -2;
	position: absolute;
width: 40px;
height: 40px;
left: 84.1%;

border-radius: 50%;
/* white */

background: #FFFFFF;
/* btnShadow */
box-shadow:0px 4px 8px 0px rgba(116, 115, 115, 0.15);

}
.telega svg{
	position: absolute;
left: 25%;
top: 25%;

}
.telega:hover,
.telega svg:hover{
	 fill: #fff;
  stroke: #fff;
    background-color: #19b7bb;
}
.whtsp{
  z-index: -2;
	position: absolute;
width: 40px;
height: 40px;
left: 87.2%;

border-radius: 50%;
/* white */
box-shadow:0px 4px 8px 0px rgba(116, 115, 115, 0.15);
background: #FFFFFF;
}
.whtsp svg{
	position: absolute;
left: 25%;
right: 25%%;
top: 25%;
bottom: 0%;

}
.whtsp:hover,
.whtsp svg:hover{
	 fill: #fff;
  stroke: #fff;
    background-color: #19b7bb;
}
.language{
  margin-top: 44px;
}
.check{
  z-index: -2;
	position: absolute;
width: 122px;
height: 40px;
left: 90.5%;


/* white */

background: #FFFFFF;
/* btnShadow */

box-shadow:0px 4px 8px 0px rgba(116, 115, 115, 0.15);
border-radius: 20px;
}
.glob svg{
	position: absolute;
left: 7%;
right: 0%;
top: 25%;
bottom: 0%;

/* mainColor */

}
.txtlang{
	position: absolute;
width: 22px;
height: 24px;
left:30% ;
top: 25%;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


color: #000000;

}

.toggbg{
	position: absolute;
width: 12px;
height: 12px;
left: 75%;
top: 20%;

}
.togg{
	position: absolute;
width: 12px;
height: 12px;
left: 80%;
top: 25%;
}
.langmenu{
	display: none;
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;

/* white */

background: #FFFFFF;
/* btnShadow */

box-shadow:0px 4px 8px 8px rgba(116, 115, 115, 0.15);
border-radius: 20px;
}

.rustxt{
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;
left: 35%;


}
.rusimg{
	
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;
left: 10%;

}
.engtxt{
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;
left: 35%;
top: 37%;
}
.engimg{
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;
left: 10%;
top: 37%;

}
.qaztxt{
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;
left: 35%;
top: 68%;
}
.qazimg{
	position: absolute; /*ХОВЕР*/
width: 122px;
height: 104px;
left: 10%;
top: 68%;
}

.langmenu a{
	font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


color: #000000;

}




.burgs:hover{
cursor: pointer;
}

.burgs:hover .burgmenu{
  display: initial;
}


.group7{
	position: absolute;
width: 41.67%;
height: 37.41%;
left: 2.9%;
top: 28.7%;
}
.txt1{
height: 160px;
left: 6.5%;
bottom: 40%;
white-space: nowrap;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: calc(24px + 40 * (100vw / 1920));
line-height: calc(48px + 32 * (100vw / 1920));
/* or 125% */

letter-spacing: 0.001em;

/* black */

color: #252729;

}
.txt2{
position: absolute;
width: 100%;
max-width: 600px;
max-height: 106px;
height: 108px;
left: 1.5%;
top: 74.1%;
line-clamp: 3;
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: calc(14px + 10 * (100vw / 1920));;
line-height: 36px;
/* or 150% */


color: #363E4D;

}
.leftbutton{
	display: flex;
align-items: center;
position: absolute;
width:246px;
min-width: 210px;
height:64px;
top: 135%;
padding-left: 5%;
border: none;
/* bestGradient */
background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
/* btnShadow */

box-shadow: 0px 8px 16px 0px rgba(116, 115, 115, 0.15);
border-radius: 12px;
}
.txtlfbtn{white-space: nowrap;
  text-align: center;
	position: absolute;
	align-content: center;
	text-align: center;
width: 182px;
height: 32px;



font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: calc(16px + 2 * (100vw / 1920));
line-height: 32px;
/* identical to box height, or 178% */


color: #FFFFFF;
}

.rightbutton{
	display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
left: 326px;
position: absolute;
min-width: 191px;
width: 222px;
height: 64px;

top: 135%;
border: none;
/* white */

background: #FFFFFF;
/* btnShadow */

box-shadow: 0px 8px 16px 0px rgba(116, 115, 115, 0.15);
border-radius: 12px;
}
.txtrgbtn{white-space: nowrap;
	position: absolute;
width: 158px;
height: 32px;
left: 30px;
font-size: calc(12 + 6 * (100vw / 1920));
font-family: Ubuntu;
font-style: normal;
font-weight: 300;
line-height: 32px;
color: #252729;
}




.humans{
  z-index: -1;
	position: fixed;
	width:856px;
	max-width: 856px;
	height: 100%;
	max-height: 507px;
	left: 46.25%;
	top: 21.02%;

}
.humans img{
	 width: 100%;
    height: auto;
    object-fit: cover;
}
.leftbutton:hover{
	cursor: pointer;
}
.leftbutton:active{
	outline: none;
	cursor: pointer;
}
.numb{
	position: absolute;
width: 32.6%;
height: 32.6%%;
left: 6.2%;
top: 21.02%;

opacity: 0.25;
box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
}



/*бургер*/

.whb{
  padding: 24px;
  position: absolute;
  display: none ;
position: absolute;
top: 0%;
width: 100%;
height: 92px;
background: rgba(255, 255, 255, 1);
box-shadow: 0px 12px 24px rgba(126, 120, 120, 0.25);

border-radius: 24px;}

.whb a{
  font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: calc(14px + 0 * (100vw / 1920));
line-height: 24px;
/* identical to box height, or 171% */


color: #26323E;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px auto;

}

.circle{
  display: none;
  position: absolute;
  background-color: #19b7bb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 90.5%;
  box-shadow: 0px 8px 16px 0px rgba(116, 115, 115, 0.15);

}

.anim{
  margin-top:  37%;
  margin-left: 30%;
}
.ctg1{
  width: 17px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10%;
}

.ctg2{
  width: 17px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10%;
}
.ctg3{
  width: 17px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10%;
}

.circle:hover {
  cursor: pointer;
}
.minenu:hover .whb{
 display: block;
}
.minenu:active .whb{
 display: block;
}
.minenu:visited .whb{
 display: block;
}
.minenu:focus .whb{
 display: block;
}

.minenu:hover .ctg3{
  position: absolute;
 transform: rotate(45deg);
 top: 50%;
 margin-top: 0%;
}
.minenu:hover .ctg2{
  position: absolute;
 display: none;
}
.minenu:hover .ctg1{
   top: 50%;
  position: absolute;
 transform: rotate(135deg);
 margin-top: 0%;
}

.uptxt{
padding-top: 98px;
margin-left: 0%;
  font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 80px;
/* identical to box height, or 125% */

letter-spacing: 0.05em;

/* black */

color: #252729;
}


.cases{
  display: inline;
  width: 100%;
  height: 100%;
  max-height: 64px;
  margin: 32px 60px 136px 60px;
  margin-left: auto;
  padding: auto;
}

.aut{
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 560px;
  background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px 0px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;

padding: 32px 32px 40px 32px;
}

.aut img{
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.inf{
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
border-radius: 12px;
padding: 16px 32px;
border: none;
margin-left: auto;
margin-right: auto;
}

.inf:hover{
  cursor: pointer;
}

.inf p{
  font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */


color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}






.kon{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  max-width: 560px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px 0px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;

padding: 32px 32px 40px 32px;
}

.kon img{
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.raz{
  display: inline-block;
  max-width: 560px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 24px 0px rgba(126, 120, 120, 0.1);
backdrop-filter: blur(150px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;

padding: 32px 32px 40px 32px;
}

.raz img{
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}






/*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*//*MEDIA*/


@media screen and (max-width: 1800px){
 .leftbutton{
 	width: 242px;
 }
 .humans{
 	width: 808px;
 }
  
  }

  @media screen and (max-width: 1700px){
    
  	.leftbutton{
 	width: 239px;
 }
 .humans{

 	width: 760px;
 }
  
  }
   @media screen and (max-width: 1600px){
   
    .leftbutton{
 	width: 236px;
 }
 .humans{

 	width: 712px;
 }
  
  }
   @media screen and (max-width: 1500px){	
    
    .inst{left: 76.9791666667%;}
    .telega{left: 80.1%;}
    .whtsp{left:83.2%;}
    .check{left:87.5%;}
    .menu a{
      margin: 0px 6px ;
    }
    .leftbutton{
 	width: 233px;
 }
 .humans{
 		
 	width: 664px;
 }
  
  }
   @media screen and (max-width: 1400px){	
    .inst{}
    .telega{}
    .bsp{}
    .check{}
    .menu-btn {
  
  position: absolute;
  display: block;}
   
    .leftbutton{
 	width: 230px;
 }
 .humans{
 		
 	width: 616px;
 }
  
  }
  @media screen and (max-width: 1300px){
    header{
      margin-top: -16px;
    }
    
  
    
       .inst{left: 60%;}
    .telega{left: 65%;}
    .whtsp{left: 70%;}
    .check{left: 75%;}
    .burgs{
      left: 90%;
    }
    .circle{
  display: block;}
     .menu{
      display: none;
    }
   	.leftbutton{
 	width: 227px;
 }
 .humans{
 		
 	width: 568px;
 }
  
  }
  @media screen and (max-width: 1200px){
     .txt2{
      line-height: 24px;
    }
   .rightbutton{
      width: 191px;
      height: 48px;
      left: 258px;
    }
    .leftbutton{
  height: 48px;
  width: 210px;
 }	.leftbutton{
 	width: 224px;
 }
 .humans{
 		
 	width: 520px;
 }
  
  }
  @media screen and (max-width: 1100px){	
    .menu{top: 2.5%;}
   
    .leftbutton{
 	width: 221px;
 }
 .humans{
 		bottom: 145px;
 	width: 472px;
 }
  
  }
  @media screen and (max-width: 1000px){
    .inst{left:54%}
    .telega{left: 60%;}
    .whtsp{left:66%;}
    .check{left:72%;}
    .rightbutton{
      width: 191px;
      height: 48px;
      left: 258px;
    }
  	.leftbutton{
 	height: 48px;
  width: 210px;
 }
 .humans{
 	
 	width: 424px;
 }
  
  }
  @media screen and (max-width: 900px){	
    .humans{
      width: 324px;
      height: 192px
    }
 .humans{
 		
 	width: 376px;
 }
  
  }
  @media screen and (max-width: 800px){	
    .socials,

    }
 .mainpage{
  margin-left: 32px;
  margin-top: 32px;}
 }
  
  }
  @media screen and (max-width: 768px){	
.mainpage{
  margin-left: 32px;
  margin-top: 32px;}
    .inst,
    .whtsp,
    .telega,
    .check{
      width: 32px;
    }
  	.mainpage{display: none;}
  	
 .humans{
 	top: 112px;
 	width: 324px;
 }
  
  }



